*{
    box-sizing: border-box;
}
@media all and (max-width: 1690px) {
    .box1 {
        width: auto;
        height: auto;
    }
    .box2,h1 {
        position: relative;
        right: 740px;
        top: 65px;
        font-size: 35px;
    }
    .box3 {
        position: relative;
        top:60px;
        right: 85px;
    }
    .box4,ol {
        position: relative;
        right: 8px;
        top: 40px;
        font-size: 10px;
    }
}
@media all and (max-width: 1280px) { 
    .box1 {
        width: auto;
        height: auto;
    }
    .box2,h1 {
        position: relative;
        right: 740px;
        top: 65px;
        font-size: 35px;
    }
    .box3 {
        position: relative;
        top:60px;
        right: 85px;
    }
    .box4,ol {
        position: relative;
        right: 8px;
        top: 40px;
        font-size: 10px;
    }
}
@media all and (max-width: 980px) {
    .box1 {
        width: auto;
        height: auto;
    }
    .box2,h1 {
        position: relative;
        right: 740px;
        top: 65px;
        font-size: 35px;
    }
    .box3 {
        position: relative;
        top:60px;
        right: 85px;
    }
    .box4,ol {
        position: relative;
        right: 8px;
        top: 40px;
        font-size: 10px;
    }    
}
@media all and (max-width: 736px) {
    .box1 {
        width: auto;
        height: auto;
    }
    .box2,h1 {
        position: relative;
        right: 740px;
        top: 65px;
        font-size: 35px;
    }
    .box3 {
        position: relative;
        top:60px;
        right: 85px;
    }
    .box4,ol {
        position: relative;
        right: 8px;
        top: 40px;
        font-size: 10px;
    }
  }
@media all and (max-width: 480px) {
    .box1 {
        width: auto;
        height: auto;
    }
    .box2,h1 {
        position: relative;
        right: 740px;
        top: 65px;
        font-size: 35px;
    }
    .box3 {
        position: relative;
        top:60px;
        right: 85px;
    }
    .box4,ol {
        position: relative;
        right: 8px;
        op: 40px;
        font-size: 10px;
    }
}

body,html {
    width: 100%;
    height: 100%;
}
.container {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    margin: 0 auto;
}
.img {
    position: relative;
    top: 180px;
}   
.box2 {
    color: white;
    position: relative; 
    left: 900px;
    top: -450px;
    font-size: 30px;
}
.menu {
    font-size: 20PX;
}
.future {
    text-decoration: none;
    color: white;
    border-bottom: 2px;
    border-color: white;
    border-style:inset;
    position: relative;
    right: -80px;
    top: -550px;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 8px;
}
.box4 {
    color: white;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
}
li {
    list-style:circle;
}

