* {
  box-sizing: border-box;
}
@media all and (max-width: 1690px) {
  .box1 {
    position: relative;
    right: 930px;
    top: -105px;
  }
  .box2,h1 {
    font-size: 20px;
    position: relative;
    right:415px;
    top: 50px;

  }
  .box3,h2 {
    font-size: 20px;
    position: relative;
    right: 310px;
    top: 340px;
  }
  .box4,h3 {
    position: relative;
    top: 330px;
    right: -0px;
    font-size: 25px;
  }
  .box5 {
    position: relative;
    right: 40px;
    top: 170px;
    
  }
  .box6,.nav {
    position: relative;
    top: -200px;
    right: -600px;
  }
  .box7,p {
    text-align:center;
    font-size: 12px;
    position: relative;
    top:404px;
    right: 204px;

  }
  .box8,ul {
    position: relative;
    top: 405px;
    right: 20px;
  }
}
@media all and (max-width: 1280px) { 
  .box1 {
    position: relative;
    right: 930px;
    top: -105px;
  }
  .box2,h1 {
    font-size: 20px;
    position: relative;
    right:415px;
    top: 50px;

  }
  .box3,h2 {
    font-size: 20px;
    position: relative;
    right: 310px;
    top: 340px;
  }
  .box4,h3 {
    position: relative;
    top: 330px;
    right: -0px;
    font-size: 25px;
  }
  .box5 {
    position: relative;
    right: 40px;
    top: 170px;
    
  }
  .box6,.nav {
    position: relative;
    top: -200px;
    right: -500px;
  }
  .box7,p {
    text-align:center;
    font-size: 12px;
    position: relative;
    top:404px;
    right: 204px;

  }
  .box8,ul {
    position: relative;
    top: 405px;
    right: 20px;
  }
}
@media all and (max-width: 980px) {
  .box1 { 
    position: relative;
    right: 930px;
    top: -105px;
  }
  .box2,h1 {
    font-size: 20px;
    position: relative;
    right:415px;
    top: 50px;

  }
  .box3,h2 {
    font-size: 20px;
    position: relative;
    right: 310px;
    top: 340px;
  }
  .box4,h3 {
    position: relative;
    top: 330px;
    right: -0px;
    font-size: 25px;
  }
  .box5 {
    position: relative;
    right: 40px;
    top: 170px;
    
  }
  .box6,.nav {
    position: relative;
    top: -200px;
    right: -660px;
  }
  .box7,p {
    text-align:center;
    font-size: 12px;
    position: relative;
    top:404px;
    right: 204px;

  }
  .box8,ul {
    position: relative;
    top: 405px;
    right: 20px;
  }
}
@media all and (max-width: 736px) {
  .box1 {
    position: relative;
    right: 930px;
    top: -105px;
  }
  .box2,h1 {
    font-size: 20px;
    position: relative;
    right:415px;
    top: 50px;

  }
  .box3,h2 {
    font-size: 20px;
    position: relative;
    right: 310px;
    top: 340px;
  }
  .box4,h3 {
    position: relative;
    top: 330px;
    right: -0px;
    font-size: 25px;
  }
  .box5 {
    position: relative;
    right: 40px;
    top: 170px;
    
  }
  .box6,.nav {
    position: relative;
    top: -200px;
    right: -500px;
  }
  .box7,p {
    text-align:center;
    font-size: 12px;
    position: relative;
    top:404px;
    right: 204px;

  }
  .box8,ul {
    position: relative;
    top: 405px;
    right: 20px;
  }
}
@media all and (max-width: 480px) {
  .box1 {
    position: relative;
    right: 960px;
    top: -105px;
  }
  .box2,h1 {
    font-size: 16px;
    position: relative;
    right:385px;
    top: 50px;

  }
  .box3,h2 {
    font-size: 20px;
    position: relative;
    right: 300px;
    top: 349px;
  }
  .box4,h3 {
    position: relative;
    top: 330px;
    right: -0px;
    font-size: 25px;
  }
  .box5 {
    position: relative;
    right: -120px;
    top: 180px;
    
  }
  .box6,.nav {
    position: relative;
    top: -360px;
    right: 2px;
  }
  .box7,p {
    text-align:center;
    font-size: 12px;
    position: relative;
    top:404px;
    right: 204px;

  }
  .box8,ul {
    position: relative;
    top: 405px;
    right: 20px;
  }
}

.img { 
  display: flex;
  position: relative;
  right: -1000px;top:200px;
 }
.container {
  display:inline;
  margin-left: auto;
  margin-right: auto;
}
.box2 {
  position: relative;
  right: -500px;
  top: -350px;
  color: white;
  font-size: 35px;
}
.box3 {
  color: white;
  font-size: 20px;
  position: relative;
  right: -390px;
  top: -250px;
  display: flex;
}
.box4 {
  font-size: 30PX;
  position: relative;
  top:20px;
  color: white;
}
.menu {
  font-size: 20PX;
}
.future {
  text-decoration: none;
  color: white;
  border-bottom: 2px;
  border-color: white;
  border-style:inset;
  position: relative;
  right: -80px;
  top: -700px;
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 8px;
}
.social {
  position: relative;
  top: -560px;
  right: 40px;
}
ul {
  list-style-type: none;
}
.git-hub {
  flex-direction:column; 
  position: relative;
  right:-20px;
  top:-20px;
}
.box7 {
  color: white;
  font-size: 25px;
  position: relative;
  right: -230px;
  top: -750px;
  display: flex;
  text-align-last: center;
}
.box8 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -520px;
}